<!doctype html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/admin.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment="content">
    <h1>Бренды</h1>
    <a th:href="@{'/admin/brands/create'}" class="btn btn-outline-primary">Добавить</a>
    <div class="table-responsive">
        <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
            <tr>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">#</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Название</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Страна</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Рейтинг</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Редактировать</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Удалить</h6>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="brand, index : ${brands}">
                <td class="border-bottom-0"><h6 class="fw-semibold mb-0" th:text="${index.index}"></h6></td>
                <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1" th:text="${brand.getName()}"></h6>
                </td>
                <td class="border-bottom-0">
                    <p class="mb-0 fw-normal" th:text="${brand.getCountry()}"></p>
                </td>
                <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-0 fs-4" th:text="${brand.getRating()}"></h6>
                </td>
                <td class="border-bottom-0">
                    <a th:href="@{'/admin/brands/edit/' + ${brand.id}}" class="btn btn-success">Редактировать</a>
                </td>
                <td class="border-bottom-0">
                    <form th:action="@{'/admin/brands/delete/' + ${brand.id}}" method="post">
                        <button class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>