<!doctype html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/admin.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment="content">
    <form th:action="@{'/admin/products/update'}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${product.getId()}">
        <div class="mb-3">
            <label for="name" class="form-label">Название</label>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp" th:value="${product.getName()}">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Цена</label>
            <input type="number" class="form-control" id="price" name="price" th:value="${product.getPrice()}">
        </div>
        <div class="mb-3">
            <label for="brand" class="form-label">Рейтинг</label>
            <select name="brand" class="form-select" id="brand">
                <option th:each="brand : ${brands}" th:selected="${brand.id == product.getBrand().id}" th:value="${brand.id}" th:text="${brand.name}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="file" class="form-label">Фото</label>
            <input type="file" class="form-control" id="file" name="image">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Описание</label>
            <textarea class="form-control" id="description" name="description" rows="3" th:text="${product.getDescription()}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Обновить</button>
    </form>
</div>